@using UniversityProject.ViewModels.AccountViewModels
@model FinishRegistrationAccountView

@{
    Layout = "_AccountLayout";
    ViewData["Title"] = "Finish Registration";
}

<link href="~/lib/kendo/kendo.common-material.css" rel="stylesheet" />
<link href="~/lib/kendo/kendo.material.css" rel="stylesheet" />
<link href="~/lib/kendo/kendo.material.mobile.css" rel="stylesheet" />
<link rel="stylesheet" href="~/css/finishregistration.css" />
<link rel="stylesheet" href="~/css/adminLayout.css" />
<body>
    <div class="row">
        <div class="col-md-4">
            <div class="info">
                <div class="overlay"></div>
                <div class="content">
                    <h2>Hello @Model.Username</h2>
                    <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officiaExcepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p>
                    <h2>Terms &amp; Conditions:</h2>
                    <ol>
                        <li>Team members should not exceed 6.</li>
                        <li>A banner with information about the project should be printed (Template will be provided).</li>
                        <li>A filtration process will be done based on answers and accepted projects will be asked for a video explaining the project.</li>
                        <li>A prototype should be provided.</li>
                        <li>Registration fee of 100 LE per team will be paid for accepted final projects.</li>
                    </ol>
                </div>
            </div>
        </div>

        <div class="col-md-8">
            <div class="form">
                <div class="cont-form">
                    <form asp-action="FinishRegistrationAndConfirmAccount">
                        <input value="@Model.UserId" class="d-none" name="userId" />
                        <input value="@Model.Token" class="d-none" name="token" />

                        <h3 class="section-title">Personal information</h3>
                        <div class="section-form">
                            <div class="form-group">
                                <label for="" class="form__field__label">FirstName <span>*</span></label>
                                <input type="text" name="firstName" class="form__field">
                            </div>
                            <div class="form-group">
                                <label for="" class="form__field__label">LastName <span>*</span></label>
                                <input type="text" name="lastName" class="form__field">
                            </div>
                            <div class="form-group">
                                <label for="" class="form__field__label">MiddleName</label>
                                <input type="text" name="middleName" class="form__field">
                            </div>
                            <div class="form-group">
                                <label for="" class="form__field__label">Personal Phone Number <span>*</span></label>
                                <input type="text" name="phoneNumber" class="form__field">
                            </div>
                            <div class="form-group">
                                <label for="" class="form__field__label">Parent's Phone Number <span>*</span></label>
                                <input type="text" name="parentsPhoneNumber" class="form__field">
                            </div>
                            <div class="form-group">
                                <label for="" class="form__field__label">Birth Date <span>*</span></label>
                                <input id="yearpicker" name="birthDate"/>
                            </div>
                        </div>

                        <h3 class="section-title">Living information</h3>
                        <div class="section-form">
                            <div class="form-group">
                                <label for="" class="form__field__label">Country <span>*</span></label>
                                <input type="text" class="form__field" name="country">
                            </div>
                            <div class="form-group">
                                <label for="" class="form__field__label">City <span>*</span></label>
                                <input type="text" class="form__field" name="city">
                            </div>
                            <div class="form-group">
                                <label for="" class="form__field__label">Address <span>*</span></label>
                                <input type="text" class="form__field" name="addressLine">
                            </div>
                        </div>

                        <h3 class="section-title">Education information</h3>
                        <div class="section-form">
                            <div class="form-group">
                                <label for="" class="form__field__label">Faculty</label>
                                @Html.DropDownList(string.Empty, new SelectList(Model.Faculties, "Id", "FacultyName"),
                            htmlAttributes: new { @class = "form__field", @name = "facultyId", @id = "facultyBox" })
                            </div>
                            <div class="form-group">
                                <label for="" class="form__field__label">Cathedra</label>
                                @Html.DropDownList(string.Empty, new SelectList(Model.Cathedras, "Id", "CathedraName"),
                             htmlAttributes: new { @class = "form__field", @name = "cathedraId", @id = "cathedraBox" })
                            </div>
                            <div class="form-group">
                                <label for="" class="form__field__label">Group</label>
                                @Html.DropDownList(string.Empty, new SelectList(Model.Cathedras, "Id", "CathedraName"),
                             htmlAttributes: new { @class = "form__field", @name = "cathedraId", @id = "cathedraBox" })
                            </div>
                        </div>

                        <input type="submit" class="btn btn-sbmt-blue btn-block" value="Finish registration">
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
<script src="~/js/pages/finishRegistration.js"></script>