@using UniversityProject.ViewModels.Faculty
@model EditFacultyAdminView
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "EditFaculty";
}

<section class="panel important">
    <div class="panel-navbar">
        <h2>Edit Faculty</h2>
    </div>
</section>

<section class="panel important">
    <form asp-action="EditFaculty" class="form">
        <input type="hidden" name="id" value="@Model.Id" />
        <input type="hidden" name="lastName" value="@Model.LastName" />
        <input type="hidden" name="lastCipher" value="@Model.LastCipher" />
        <input type="text" name="name" placeholder="faculty name" class="form__field" value="@Model.Name">
        <input type="text" name="cipher" placeholder="faculty cipher" class="form__field" value="@Model.Cipher">
        <input type="text" name="address" placeholder="faculty address" class="form__field" value="@Model.Address">
        <input type="text" name="phoneNumber" placeholder="faculty phone number" class="form__field" value="@Model.PhoneNumber">
        <input type="number" name="studentsCount" placeholder="students count" class="form__field" value="@Model.StudentsCount">

        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        
        <a asp-action="ShowFaculties" class="btn btn--main-outline">Go Back</a>
        <button type="submit" class="btn btn--main">Edit Faculty</button>
    </form>
</section>
