@using UniversityProject.ViewModels.AdminViewModels.GroupViewModels
@model EditGroupDataAdminView
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "EditGroup";
}
<link href="~/lib/kendo/kendo.common-material.css" rel="stylesheet" />
<link href="~/lib/kendo/kendo.material.css" rel="stylesheet" />
<link href="~/lib/kendo/kendo.material.mobile.css" rel="stylesheet" />

<section class="panel important">
    <div class="panel-navbar">
        <h2 class="panel-navbar-title">Edit Group</h2>
    </div>
</section>

<form asp-action="EditGroup" class="form">
    <section class="panel important">

        <h3 class="section-title">Group information</h3>
        <input type="hidden" value="@Model.Id" name="id" />
        <div class="form-group">
            <label for="" class="form__field__label">Faculty</label>
            @Html.DropDownListFor(item => Model.FacultyId, new SelectList(Model.Faculties, "Id", "FacultyName"),
        htmlAttributes: new { @class = "form__field", @name = "facultyId", @id = "facultyBox" })
        </div>
        <div class="form-group">
            <label for="" class="form__field__label">Chair</label>
            @Html.DropDownListFor(item => Model.ChairId, new SelectList(Model.Chairs, "Id", "ChairName"),
        htmlAttributes: new { @class = "form__field", @name = "chairId", @id = "chairBox" })
        </div>
        <div class="form-group">
            <label for="" class="form__field__label">Group Number</label>
            <input type="text" name="groupNumber" class="form__field" value="@Model.GroupNumber">
        </div>
        <div class="form-group">
            @{
                var courses = Model.CourseNumberTypes.Select(item => new SelectListItem
                {
                    Text = item.ToString(),
                    Value = item.ToString()
                });
            }
            <label for="" class="form__field__label">Course Year</label>
            @Html.DropDownListFor(item => Model.CourseNumberType, new SelectList(courses, "Text", "Value"),
        htmlAttributes: new { @class = "form__field", @name = "courseNumberTypeId" })
        </div>
        <div class="form-group">
            <label for="" class="form__field__label">Created Year</label>
            <input id="yearpicker" name="creationYear" value="@Model.CreationYear" />
        </div>

        <div class="text-danger" asp-validation-summary="ModelOnly"></div>

        <a asp-action="ShowGroups" class="btn btn--main-outline">Go Back</a>
        <button type="submit" class="btn btn--main">Edit Group</button>
    </section>
</form>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/kendo/kendo.all.min.js"></script>
<script src="~/js/pages/editGroup.js"></script>